html,h1,h2,h3,h4,a,p,body,header,nav,div,ul,li,form,img{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0 auto; 
    color: #333333;
    max-width: 1200px;
    text-align: center

    /* outline: 2px solid tomato; */
}
#bg{
  background: #70cbf3 ;
	height: 100%;
  background-size: 1200px auto;
}
#news{
    padding-top: 2%;
    height: 50px;
    color: #666666;
    -webkit-animation: run 30s linear infinite;
	animation: run 30s linear infinite;
}
@keyframes run{
    from{transform: translateX(100%)}
	to{transform: translateX(0%)}
}

#firstPage{
    padding: 3% 0% 3% 0%;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 500%;
}
nav{
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    width: 100px;
    height: 100px;
    /*background-image:url('image/main.png');  Replace with your desired circle color */
    background-size: auto;
    background-position: center;
    border-radius: 50%; /* Set border-radius to 50% to create a circle */
    line-height: 100Px;
    text-align: center;
    font-size: 14px;
}

#logo{
    margin: 20px auto;
}
#one{
	height: 200px;
	width: 1000px;
	position: fixed;
	-webkit-animation: scrol1 30s linear infinite;
	animation: scrol1 30s linear infinite;
}
#two{
	height: 200px;
	width: 1000px;
	position: fixed;
	-webkit-animation: scrol2 30s linear infinite;
	animation: scrol2 30s linear infinite;
}
#three{
	height: 200px;
	width: 1000px;
	position: fixed;
	-webkit-animation: scroll3 30s linear infinite;
	animation: scroll3 30s linear infinite;
}
#four{
	height: 200px;
	width: 1000px;
	position: fixed;
	-webkit-animation: scroll4 30s linear infinite;
	animation: scroll4 30s linear infinite;
}
@keyframes scrol1{
	from{transform: translateX(100%)}
	to{transform: translateX(-100%)}
  }
@keyframes scrol2{
	from{transform: translateX(0%)}
	to{transform: translateX(-200%)}
  }
@keyframes scroll3{
	from{transform: translateX(-100%)}
	to{transform: translateX(-300%)}
  }
@keyframes scroll4{
	from{transform: translateX(200%)}
	to{transform: translateX(0%)}
  }

footer{
    width: 1200px;
    background-color: #52d2f6;
    margin: 50px auto 0 auto;
}

#footer_firstPage{
  position: absolute;
  bottom: 0;
  width: 1200px;
  background-color: #52d2f6;
  margin: 50px auto 0 auto;
}


/* 其他頁面的頁首 */
.main{
    justify-content: center;
    text-align: center;
    font-size: 400%;
}

.pageTitle{
    justify-content: center;
    text-align: center;
    font-size: 200%;
}

/* 課表的跟表格的設定 */
.classlist{
  margin: 10px auto;
  height: 500px;   /*限定高度*/
  overflow-y: auto; /*自動產生 y 軸捲軸*/
}

table {
  max-width: 100%;
  border-collapse: collapse;
  margin: auto;
}

table, th, td {
  border: 1px solid #ffffff;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ffffff;
}

th:first-child {
  width: 100px; /* 用於顯示時間欄位 */
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f8eaea;
}

/* button 的效果 */
.btn-7,
.btn-7 *,
.btn-7 :after,
.btn-7 :before,
.btn-7:after,
.btn-7:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-7 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #f4d437;
  background-image: none;
  color: #f4d437;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #f4d437);
  padding: 0;
  text-transform: uppercase;
}
.btn-7:disabled {
  cursor: default;
}
.btn-7:-moz-focusring {
  outline: auto;
}
.btn-7 svg {
  display: block;
  vertical-align: middle;
}
.btn-7 [hidden] {
  display: none;
}
.btn-7 {
  border-radius: 99rem;
  border-width: 2px;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-7 span {
  mix-blend-mode: difference;
}
.btn-7:before {
  background: #fff;
  -webkit-clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}
.btn-7:hover:before {
  --progress: 0%;
}

.button-container {
  display: flex; /* Use flexbox to align items in a row */
  justify-content: center;
  gap: 20px; /* Add some space between buttons (optional) */
  margin-top: 20px;
}

/* 輸入值的框框 */
input{
  border: transparent;
  background-color: transparent;
  font-size: medium;
}

/* 會員資料同意書文字格式*/
.profile_agree{
  text-align: start;
  margin: auto 10px;
}