@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Kanit&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自己寫不完整的reset */
html,h1,h2,h3,h4,a,p,body,header,nav,div,ul,li,form,img{
    overflow: hidden;
    overflow-y: auto;
    margin: 0 auto; 
    color: #333333;
    max-width: 1200px;
    text-align: center;
    font-family: 'cwTeXYen','Kanit',sans-serif;
    /* outline: 2px solid tomato; */
}

/* .container{
  overflow-y: hidden;
  padding-bottom: 20px;
} */

/* 讓超連結沒有底線跟顏色 */
a{
  text-decoration:none
}

.checkedbox{
  text-align: center;
  border: 1 solid black;
}

#bg{
  background-repeat: no-repeat;
  background-image: url('../image/banner.png');
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  background-size: cover;
  /* 上面這行設定背景圖片左右填滿 */
}

#bg_index{
  background-repeat: no-repeat;
  background-image: url('../image/banner_02.png');
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  background-size: cover;
}

#wrapper_index{
  margin: 10% auto;
}

#index_news{
    display: inline;
    height: 50px;
    color: #666666;
    font-size: 20px;
}

marquee{
  padding-top: 1%;
}

#index_select{
    display: flex;
    justify-content: center;
}

#corner{
  position: fixed;
  right: 0;
  margin-top: 1%;
}

#corner_li{
  width: 100px;
}

#staff{
  font-size: larger;
  background-color: #fe3702;
  color: #ffffff;
  padding: 1%;
}

marquee{
  margin-top: 3%;
}

#slogan{
  color: #fe3702;
  font-family: 'Josefin Sans', 'sans-serif';
  font-size: 300%;
  margin: 3% auto 1% auto;
  text-shadow: 2px 3px #666666c7; 
}

li{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: 100%;
}

/* 設定頁面內容太多時跟footer有間隔*/
#wrapper {
  min-height: 100%;
  position: relative;
}

footer{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}


/* 其他頁面的頁首 */
.main{
    background-color: #fe3702;
}

.pageTitle{
    justify-content: center;
    text-align: center;
    font-size: 300%;
    margin : 2% auto;
    font-weight:bolder
}

/* 表格的設定 */
.classlist{
  margin: 0 auto 2% auto;
  height: 500px;   /*限定高度*/
  overflow: auto; /*自動產生捲軸*/
}


table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
}

table, th, td {
  border: 1px solid #ffffff;
}

table{
  margin-bottom: 2%;
}

th, td {
  padding: 8px;
  text-align: left;
}
 
td{
  vertical-align: middle; /*表格內垂直置中*/
}

.order{
  text-align: center;
}

th {
  background-color: #ffffff;
  text-align: center;
}

/* th:first-child {
  width: 100px;
} */

tr:nth-child(odd) {
  background-color: rgba(249, 249, 247, 0.386);
}

tr:nth-child(even) {
  background-color: rgba(254, 187, 169, 0.386);
}

/* 教練資料管理的表格 */
.add_coach{
  text-align: right;
}

.add_coach_btn{
  font-size: large;
  background-color: rgba(249, 249, 247, 0.386);
  border: transparent;
}

/* button 的效果 */
.btn-7,
.btn-7 *,
.btn-7 :after,
.btn-7 :before,
.btn-7:after,
.btn-7:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-7 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #f4d437;
  background-image: none;
  color: #f4d437;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #f4d437);
  padding: 0;
  text-transform: uppercase;
}
.btn-7:disabled {
  cursor: default;
}
.btn-7:-moz-focusring {
  outline: auto;
}
.btn-7 svg {
  display: block;
  vertical-align: middle;
}
.btn-7 [hidden] {
  display: none;
}
.btn-7 {
  border-radius: 99rem;
  border-width: 2px;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-7 span {
  mix-blend-mode: difference;
}
.btn-7:before {
  background: #ffffff;
  -webkit-clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  clip-path: polygon(
    0 calc(var(--progress, 100%) / 2),
    100% calc(var(--progress, 100%) / 2),
    100% calc(100% - var(--progress, 100%) / 2),
    0 calc(100% - var(--progress, 100%) / 2)
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}
.btn-7:hover:before {
  --progress: 0%;
}

.button-container {
  display: flex; /* Use flexbox to align items in a row */
  justify-content: center;
  gap: 20px; /* Add some space between buttons (optional) */
  margin: 20px auto;
}




/* 輸入值的框框 */
input{
  /* background-color: transparent; */
  border: #000;
  font-size: medium;
}

.search{
  margin: 1%;
}

/* 會員資料同意書文字格式*/
.profile_agree{
  text-align: start;
  margin: auto 10px;
  color: #000;
  background-color: rgba(249, 249, 247, 0.386);
}

.agree_Title{
  font-size: 150%;
  color: #fe3702;
}

#txtContent{
  font-size: medium;
}

#agree_btn{
  margin: 5px 10px;
}

#cancel_btn{
  margin: 5px 10px;
}

/* 同意書的彈窗 */
.modal_wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.agree_modal{
  margin-top: 100px;
  width: 60%;
  height: 70%;
  background-color: #666666;
  overflow: hidden;
  padding-bottom: 20px;
  z-index: 10;
  border: 4px solid black;
}

.agree_iframe {
  border: 0;
  overflow: auto;
  height: 95%;
  width: 100%;
}

/* check_in_class table_caption */
.student_list{
    font-size: 150%;
    margin: 0px auto 5px auto;
    color: rgb(253,94,50);
    font-weight: bold;
}