<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>關於我們</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/aboutus.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico">
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <div id="wrapper">
        <div class="main_madal">
            <section class="top">
                <div class="about">
                    <div class="about_word">
                        <div class="about_title">
                            關於我們
                        </div>
                        <br>
                        <div class="about_p1">
                            <p >
                            我們提供一對一的健身課程，每位客戶都能夠獲得專屬的教練指導，根據個人目標和需求進行量身定制的訓練計劃。無論您是想增強體能、塑造身材還是提升運動表現，我們的教練團隊都將全心全意地支持您。

                            <br><br>另外，我們的有氧舞蹈課程將音樂、節奏和運動結合在一起，讓您在愉快的音樂節拍中盡情燃燒卡路里，同時提振心情。而瑜珈課程則提供了一個放鬆身心的環境，幫助您鍛煉身體的柔軟度、平衡力和心靈的寧靜。

                            <br><br>未來，我們計劃擴展我們的設施，加入籃球場和其他運動場地，以滿足更廣泛的運動愛好者需求。這些場地不僅將用於我們自己的課程，還將對外開放，供個人和團隊租借使用。我們希望成為社區內運動和健康的重要中心。
                            </p>
                        </div>
                    </div>     
                        <div class="about_img">
                            <img src="../static/image/about us/1.png" alt="">
                        </div>
                    
                </div>
            </section>
            <section class="bottom">
                <div class="about">
                    <div class="origin_img">
                            <img src="../static/image/about us/4.png" alt="">
                    </div>
                    <div class="origin_word">
                        <div class="about_title">
                            品牌起源
                        </div>
                        <br>
                        <div class="about_p2">
                            <p>
                                我們的創辦人是一群年輕的運動愛好者，他們深信運動不僅僅是改變外在形態的工具，更是維持心靈平衡、紓解壓力的有效方式。這個信念驅使著我們致力於提供高質量的運動設施和課程，帶領每位客戶走向健康的生活方式。
                                <br>
                                <br>我們熱切地歡迎您加入我們的運動中心大家庭，一同享受運動的樂趣，展現最好的自己！無論您是初學者還是運動達人，我們都將為您提供個人化的支持，幫助您實現健康、快樂和成功。
                            </p>
                        </div>
                    </div> 
                </div>
            </section>
        </div>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>