<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>新增課程</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
<body id="bg">
    <div id="wrapper">
    <header class="main">
        <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
    </header>
    <p class="pageTitle">新增課程</p>
    <main>
        <form method="post" action="/add_course">
            <table>
                <tr>
                    <th>課程類別</th><td><select name="category" required>
                                        <option value="瑜珈">瑜珈</option>
                                        <option value="有氧">有氧舞蹈</option>
                                        <option value="飛輪">飛輪</option>
                                        <option value="TRX">TRX</option>
                                        <option value="肌力延展">肌力延展</option>
                                        <option value="舞蹈">舞蹈</option>
                                        </select></td>
                </tr>
                <tr>
                    <th>課程編號</th><td><input type="text" name="class_number" required></td>
                </tr>
                <tr>
                    <th>課程名稱</th><td><input type="text" name="class_name" required></td>
                </tr>
                <tr>
                    <th>開始日期</th><td><input type="date" name="duration_start" required></td>
                </tr>
                <tr>
                    <th>結束日期</th><td><input type="date" name="duration_end" required></td>
                </tr>
                <tr>
                    <th>上課時間</th><td><input type="text" name="time_start" placeholder="例如：09:00" required><span> 到 </span>
                        <input type="text" name="time_end" placeholder="例如：10:00" required></td>
                </tr>
                <tr>
                    <th>星期</th><td><input type="text" name="week" required></td>
                </tr>
                <tr>
                    <th>期別</th><td><input type="text" name="month" required></td>
                </tr>
                <tr>
                    <th>上課次數</th><td><input type="text" name="times" required></td>
                </tr>
                <tr>
                    <th>價格</th><td><input type="text" step="0.01" name="price" required></td>
                </tr>
                <tr>
                    <th>名額</th><td><input type="text" name="quota" required><span> 人 </span></td>
                </tr>
                <tr>
                    <th>已報名人數</th><td><input type="text" name="paid_people" required><span> 人 </span></td>
                </tr>
                <tr>
                    <th>教練編號</th><td><input type="text" name="coach_id" required></td>
                </tr>
                
            </table>
                <div class="button-container">
                    <button class="btn-7" type="submit" value="新增課程">
                    <span>新增課程</span>
                    </button>
                </div>
        </form>
    </main>
    <footer>
        <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="../static/js/main.js" ></script>
</body>
</html>