<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>結帳</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
  </head>
  <body id="bg">
      <header class="main">
        <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
      </header>
      <p class="pageTitle">結帳完成</p>
      <table style="margin-left:auto; margin-right:auto; ;width: 40%;" >
        <tr>
            <td>交易編號</td><td>{{ transaction_data[1] }}</td>
        </tr>
        <tr>
            <td>課程ID</td><td>{{ transaction_data[2] }}</td>
        </tr>
        <tr>
            <td>價格</td><td>{{ transaction_data[4] }}</td>
        </tr>
      </table>
      <div class="button-container">
          <a href="{{ url_for('transaction') }}" class="btn-7"> <span>查看交易紀錄</span></a>
          <a href="{{ url_for('member_index') }}" class="btn-7"> <span>返回會員中心</span></a>
      </div>
      <footer>
        <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
      </footer>
      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="../static/js/main.js" ></script>
  </body>
</html>