<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>教練中心</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg_index">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <div id="wrapper_index">
        <p class="pageTitle">教練<br>{{ user['numberid'] }}，您好！</p>
            <nav>
                <ul>
                    <li><a href="{{ url_for('coach_class_check') }}" class="tabwindow"><img src="../static/image/31.png" width="150px" height="140px" title="教練簽到"></a></li>
                    <li><a href="{{ url_for('coach_check_in')}}" class="tabwindow"><img src="../static/image/32.png" width="150px" height="140px" title="教練點名"></a></li>
            </nav>
        </div>
            <footer>
                <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
            </footer>
        
            <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
            <script src="../static/js/main.js" ></script>
    </body>
</html>