<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>教練簽到記錄</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">教練簽到記錄</p>
        <div id="wrapper">
            
        <table style="width: 70%;">
            <caption> 
                <input class="search" type="text" id="filterInput" placeholder="輸入關鍵字"> 
            </caption>
            <tr>
                <th>ID</th>
                <th>教練姓名</th>
                <th>課程期別</th>
                <th>課程班別</th>
                <th>課程名稱</th>
                <th>課程日期</th>
                <th>簽到人數</th>
            </tr> 
            {% for record in coach_class_check %}
            <tr class="data-row">
                <td>{{ record['id'] }}</td>
                <td>{{ record['name'] }}</td>
                <td>{{ record['month'] }}</td>
                <td>{{ record['class_number'] }}</td>
                <td>{{ record['class_name'] }}</td>
                <td>{{ record['class_date'] }}</td>
                <td>{{ record['num_of_attendees'] }}</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>1030</td>
                <td>3A</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>10304</td>
                <td>3B</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>10404</td>
                <td>3B</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>10307</td>
                <td>3C</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>10307</td>
                <td>3C</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            <tr class="data-row">
                <td>2</td>
                <td>蔡雅如</td>
                <td>10307</td>
                <td>3C</td>
                <td>有氧瑜珈</td>
                <td>8/10</td>
                <td>34</td>
            </tr>
            {% endfor %}
        </table>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>