<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>點名紀錄</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">點名紀錄</p>
        <div id="wrapper">
            <div style="font-size: x-large; text-align:center">
                <h2>課程點名紀錄 - {{ class_info['class_name'] }}</h2>
                <h2>期別：{{ class_info['month'] }}</h2>
        <table style="width: 80%;">
            <tr>
                <th>學員姓名</th>
                <th>學員電話</th>
                <th>點名日期</th>
            </tr> 
            {% for check_in in check_ins %}
            <tr>
                <td>{{ check_in['user_name'] }}</td>
                <td>{{ check_in['user_phone'] }}</td>
                <td>{{ check_in['usedate'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="button-container">
            <a href="{{ url_for('view_all_check_ins') }}" class="btn-7"><span>返回</span></a>
        </div>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>