<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>編輯會員資料</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">編輯會員資料</p>
        <div id="wrapper">
            <form method="POST" action="{{ url_for('edit_user', user_id=user[0]) }}">
            <table style="width: 40%;">
                <tr>
                    <td><label for="name">姓名</label></td>
                    <td><input type="text" name="name" value="{{ user[1] }}"></td>
                </tr>
                <tr>
                    <td><label for="coach_name">使用者名稱</label></td>
                    <td><input type="text" name="username" value="{{ user[2] }}"></td>
                </tr>
                <tr>
                    <td><label for="numberid">身份證字號</label></td>
                    <td><input type="text" name="numberid" value="{{ user[3] }}"></td>
                </tr>
                <tr>
                    <td><label for="password">密碼</label></td>
                    <td><input type="password" name="password" value="{{ user[4] }}"></td>
                </tr>
                <tr>
                    <td><label for="gender">性別</label></td>
                    <td><input type="text" name="gender" value="{{ user[5] }}"></td>
                </tr>
                <tr>
                    <td><label for="email">電子郵件</label></td>
                    <td><input type="text" name="email" value="{{ user[6] }}"></td>
                </tr>
                <tr>
                    <td><label for="birthday">生日</label></td>
                    <td><input type="text" name="birthday" value="{{ user[7] }}"></td>
                </tr>
                <tr>
                    <td><label for="age">年齡</label></td>
                    <td><input type="text" name="age" value="{{ user[8] }}"></td>
                </tr>
                <tr>
                    <td><label for="phone">電話</label></td>
                    <td><input type="text" name="phone" value="{{ user[9] }}"></td>
                </tr>
            </table>
                <div class="button-container">
                    <button class="btn-7" type="submit" value="儲存">
                    <span>儲存</span>
                    </button>
                    <a href="{{url_for('members')}}" class="btn-7"><span>返回會員列表</span></a>
                </div>
        </form>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>