<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>運動中心首頁</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico">
    </head>
    <body id="bg_index">
        
        <div id="corner">
            <ul id="corner_ul">
                <li id="corner_li"><a href="{{ url_for('staff_login') }}"><span id="staff">管理人員</span></a></li>
                <li id="corner_li"><a href="{{ url_for('coach_login') }}"><span id="staff">教&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp練</span></a></li>
            </ul>
        </div>
        <header id="index_news"><marquee><span id="news"></span><!-- 用javaScript抓news.txt檔,讓操作者可自行更改內容--></marquee></header>
        <main>
            <div><img src="../static/image/LOGO_rec_red.png" width="450px"></div>
            <p id="slogan">Better Body, Better Life!</p>
            <nav id="index_select">
                <ul>
                    <li id="list_member"><a href="{{ url_for('aboutus') }}" class="gotomember"><img src="../static/image/16.png" width="150px" height="140px" title="關於我們"></a></li>
                    <li id="list_member"><a href="{{ url_for('login') }}" class="gotomember"><img src="../static/image/13.png" width="150px" height="140px" title="會員中心"></a></li>
                    <li id="list_member"><a href="{{ url_for('course_table') }}" class="gotomember"><img src="../static/image/14.png" width="150px" height="140px" title="課程介紹"></a></li>
                    <li id="list_course"><a href="{{ url_for('instructor') }}" class="tabwindow"><img src="../static/image/15.png" width="150px" height="140px" title="教練介紹"></a></li>
                    <li><a href="mailto:fnsportcenter@gmail.com" class="tabwindow"><img src="../static/image/17.png" width="150px" height="140px" title="聯絡我們"></a></li>
                </ul>
            </nav>
        </main>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>