<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>會員登入</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">會員登入</p>
        <div id="login">
            <form id="form_login" action="{{ url_for('login') }}" method="post">
                <table class="table_login">
                    <tr>
                        <th>身分證字號<br>(登入帳號)</th>
                        <td><input type="numberid" name="numberid" required></td>
                    </tr>
                    <tr>
                        <th>密碼</th>
                        <td><input type="password" name="password" required></td>
                    </tr>
                </table>
                <div class="under_table">
                        <button class="under_table_btn" id="forgotpassword"> <p class="little_remind"> 忘記密碼？ </p> </button>
                        <button class="under_table_btn" id="register"> <a href="{{ url_for('register') }}"></a> <p class="little_remind"> 註冊會員 </p> </button>
                </div>
                <div class="button-container">
                    <button class="btn-7" type="submit" value="登入">
                        <span>登入</span>
                    </button>
                </div>
            </form>     
        </div>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>