<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>退費</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="../templates/index.html"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">正在執行退費程序</p>
        <div id="wrapper">
            <div style="font-size: x-large; text-align:center">
                姓名：{{ transaction[11] }}</br>
                課程名稱：{{ transaction[2] }}</br>
                課程期別：{{ transaction[3] }}</br>
                課程班別：{{ transaction[1] }}</br>
                交易編號：{{ transaction[0] }}</br>
                交易金額：{{ class_info['time_end'] }}</br>
            </div>
        <form method="POST">
            <table>
                <tr>
                    <th><label for="refund_money">退費金額</label></th>
                    <td><input type="text" name="refund_money" id="refund_money" required></td>
                    <th><button><input type="submit" value="確定"></button></th>
                </tr>
            </table>
        </form>
            <div class="button-container">
                <button class="btn-7" type="submit" value="返回交易紀錄" id="Backtostaff_transaction" >
                <span>返回交易紀錄</span>
                </button>
            </div>
        <footer>
            <h4>地址:台北市中正區忠孝東路一段123號  電話:(02)2345-1343 營業時間:6:00-22:00</h4>   
        </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="../static/js/main.js" ></script>
    </body>
</html>