<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>會員註冊</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    </head>
<body id="bg">
    <div id="wrapper">
    <header class="main">
        <a href="../templates/index.html"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
    </header>
    <p class="pageTitle">會員註冊</p>
    <main>
        <form id="form_register" action="{{ url_for('register') }}" method="post">
            <table>
                <tr>
                    <th>姓名</th> <td><input type="name" name="name" placeholder="更改請洽工作人員" required></td>
                </tr>
                <tr>
                    <th>用戶名</th> <td><input type="text" name="username" id="username" placeholder="輸入後無法更改" required> <button type="button" onclick="checkUsername()">檢查用戶名</button></td>
                </tr>
                <tr>
                    <th>身分證字號<br>(登入帳號)</th> <td><input type="numberid" name="numberid" required></td>
                </tr>
                <tr>
                    <th>密碼</th> <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <th>性別</th> <td><select name="gender" required>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                        </select></td>
                </tr>
                <tr>
                    <th>電子信箱</th> <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <th>生日</th> <td><input type="date" name="birthday" required onchange="calculateAge()"></td>
                </tr>
                <tr>
                    <th>年齡</th> <td><input type="number" name="age" id="age" readonly></td>
                </tr>
                <tr>
                    <th>連絡電話</th> <td><input type="tel" name="phone" required></td>
                </tr>
            </table>
            <label>
                <p class="agree_input"><input type="checkbox" name="agree" required> 我同意個人資料使用同意書</p>
            </label>
                <div class="button-container">
                    <button class="btn-7" type="submit" value="註冊會員">
                    <span>註冊會員</span>
                    </button>
                </div>   
        <div class="modal_wrapper">
            <div class="agree_modal">
                <iframe class="agree_iframe" src="/templates/profile_agree.html"></iframe>
                <div class="btn_register"><button id="agree_btn">同意</button><button id="cancel_btn">取消</button></div>
            </div>
        </div>  
    </main>
    <footer>
        <h4>地址:台北市中正區忠孝東路一段123號  電話:(02)2345-1343 營業時間:6:00-22:00</h4>   
    </footer>
</div>
    <script>
        function agree(e) {
            console.log(e);
        }
        function calculateAge() {
            const today = new Date();
            const birthday = new Date(document.getElementsByName('birthday')[0].value);
            const age = today.getFullYear() - birthday.getFullYear();
            document.getElementById('age').value = age;
        }

        function checkUsername() {
            const username = document.getElementById('username').value;

            // 使用 JavaScript 或 Ajax 來向後端發送檢查用戶名的請求
            // 這裡可以使用 fetch 或 XMLHttpRequest 等方式
            const formData = new FormData();
            formData.append('username', username);

            fetch('/check_username', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                // 顯示彈出視窗
                alert(data);
            })
            .catch(error => {
                // 請自行處理錯誤
                console.error('Error:', error);
            });
        }
        $(function() {
            $("#agree_btn").on("click", function(e) {
                e.preventDefault();
                //讓視窗按下我同意後消失
                $(".modal_wrapper").css("display", "none");
            });
        });
        $(function() {
            $("#cancel_btn").on("click", function(e) {
                e.preventDefault();
                //讓視窗按下取消後返回首頁
                window.location.href="index.html";
            });
        });

        
    </script>
</body>
</html>