<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>重置密碼</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">重置密碼</p>
        <div id="sendEmail">
            <form action="{{ url_for('reset_password', token=token) }}" method="post">
                <table>
                    <tr>
                        <th><label for="new_password">新密碼</label></th>
                        <td><input type="password" name="new_password" required></td>
                    </tr>
                    <tr>
                        <th><label for="confirm_password">確認新密碼</label></th>
                        <td><input type="password" name="confirm_password" required></td>
                    </tr>
                </table>
                    <div class="button-container">
                        <button class="btn-7" type="submit" value="提交">
                        <span>提交</span>
                    </button>
                    </div>
            </form>
        </div>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
    </body>
</html>