<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>場地預約</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p id="pageTitle">場地預約</p>
            <nav>
                <ul>
                    <li><a href="login.html" target="_blank" class="tabwindow"><span class="label">籃球場</span></a></li>
                    <li><a href="course.html" target="_blank" class="tabwindow"><span class="label">羽球場</span></a></li>
                    <li><a href="instructor.html" target="_blank" class="tabwindow"><span class="label">桌球</span></a></li>
                    <li><a href="reservation.html" target="_blank" class="tabwindow"><span class="label">高爾夫球</span></a></li>
                    <li><a href="staff.html" target="_blank" class="tabwindow"><span class="label">壁球</span></a></li>
                </ul>
            </nav>
            <footer>
                <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
            </footer>
            <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
            <script src="../static/js/main.js" ></script>
    </body>
</html>