<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>場館人員登入</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico" />
    </head>
    <body id="bg">
        <header class="main">
            <a href="../templates/index.html"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">場館人員登入</p>
        <div id="login">
            <form action="{{ url_for('login') }}" method="post">
                <table>
                    <tr>
                        <th>身分證字號：(登入帳號)</th>
                        <td><input type="numberid" name="numberid" required></td>
                    </tr>
                    <tr>
                        <th>密碼:</th>
                        <td><input type="password" name="password" required></td>
                    </tr>
                </table>
                <div class="button-container">
                    <button class="btn-1" type="submit" value="登入">
                        <span>登入</span>
                    </button>
                    <button id="forgotpassword" class="btn-1" type="submit" value="忘記密碼">
                        <span>忘記密碼</span>
                    </button>
                </div>
            </form>
        </div>
        <footer>
            <h4>地址:台北市中正區忠孝東路一段123號  電話:(02)2345-1343 營業時間:6:00-22:00</h4>   
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js" ></script>
        <script src="../static/js/login.js" ></script>
    </body>
</html>

