<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>會員交易紀錄</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico"/>
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">會員交易紀錄</p>
        <div id="wrapper">
        <main>
            <table class="orderList">
                <caption><input class="search" type="text" id="filterInput" placeholder="輸入關鍵字"></caption>
                <tr>
                    <th>交易編號</th>
                    <th>課程ID</th>
                    <th>購買時間</th>
                    <th>價格</th>
                    <th>剩餘次數</th>
                    <th>已使用次數</th>
                    <th>購買人</th>
                    <th>退費狀態</th>
                    <th>退費金額</th>
                    <th>剩餘有效金額</th>
                    <th>退費操作</th>
                    <th>備註</th>
                </tr>    
                {% for transaction in transactions %}
                <tr class="data-row">
                    <td class="order">{{ transaction[1] }}</td>
                    <td class="order">{{ transaction[2] }}</td>
                    <td class="order">{{ transaction[3] }}</td>
                    <td class="order">＄&nbsp&nbsp{{ transaction[4] }}&nbsp&nbsp元</td>
                    <td class="order">{{ transaction[5] }}</td>
                    <td class="order">{{ transaction[6] }}</td>
                    <td class="order">{{ transaction[13] }}</td>
                    <td class="order">{{ transaction[9] }}</td>
                    <td class="order">{{ transaction[10] }}</td>
                    {% set remaining_amount = transaction[4] - transaction[10] %}
                    <td class="order">{{ remaining_amount }}</td>
                    <td class="order">
                        <a href="{{ url_for('refund_transaction', transaction_id=transaction[0]) }}">退費</a>
                    </td>
                    <td>{{ transaction[11] }}</td>       
                </tr>
                {% endfor %}
            </table>
            <div class="button-container">
                <div class="button-container">
                    <a href="{{ url_for('member_index') }}" class="btn-7"> <span>返回管理中心</span></a>
                </div>
            </div>
        </main>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js"> </script>
    </body>
</html>