<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>我的訂單</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="Shortcut Icon" type="image/x-icon" href="../static/image/title.ico"/>
    </head>
    <body id="bg">
        <header class="main">
            <a href="{{ url_for('index') }}"> <img src="../static/image/LOGO_rec_white.png" width="250px" title="點我回首頁"> </a>
        </header>
        <p class="pageTitle">我的訂單</p>
        <div id="wrapper">
        <main>
            <table class="orderList">
                <caption><input class="search" type="text" id="filterInput" placeholder="輸入關鍵字"></caption>
                <tr>
                    <th>交易編號</th>
                    <th>課程班別</th>
                    <th>課程名稱</th>
                    <th>課程期別</th>
                    <th>購買時間</th>
                    <th>價格</th>
                    <th>剩餘次數</th>
                    <th>使用次數</th>
                    <th>訂單狀態</th>
                    <th>剩餘金額</th>
                </tr>    
                {% for transaction in transaction_data %}
                <tr class="data-row">
                    <td class="order">{{ transaction[0] }}</td>
                    <td class="order">{{ transaction[1] }}</td>
                    <td class="order">{{ transaction[2] }}</td>
                    <td class="order">{{ transaction[3] }}</td>
                    <td class="order">{{ transaction[4] }}</td>
                    <td class="order">＄&nbsp&nbsp{{ transaction[5] }}&nbsp&nbsp元</td>
                    <td class="order">{{ transaction[6] }}&nbsp&nbsp次</td>
                    <td class="order">{{ transaction[7] }}&nbsp&nbsp次</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}       
            </table>
            <div class="button-container">
                <a href="{{ url_for('member_index') }}" class="btn-7"> <span>返回會員中心</span></a>
            </div>
        </main>
        <footer>
            <h4>Copyright © FN Sport. All Rights Reserved.</h4>   
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="../static/js/main.js"> </script>
    </body>
</html>